.image-component {
    display: block;
    line-height: 0;
    max-width: 100%;
    position: relative;
}

.image-component > .frame {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    vertical-align: top;
    width: 100%;
}

.image-component > .frame > img {
    border-radius: 0 !important;
    max-width: 100%;
    vertical-align: top;
    width: inherit;
}

.image-component.full > .frame {
    display: block;
}

.image-component.full:first-child > .frame {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.image-component.full:last-child > .frame {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.image-component.style-3 > .frame {
    width: 100vw;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

.image-component.style-3 > .frame > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

.image-component.style-1:not(:first-child) {
    margin-top: 2.375rem !important;
}

.image-component.style-1:not(:last-child) {
    margin-bottom: 2.375rem !important;
}

.image-component.style-1 > .frame {
    width: 20rem;
    height: 5.25rem;
    border-radius: 0.5rem;
    transition: none;
}

.image-component.style-1 > .frame > img {
    height: 100% !important;
    object-fit: cover;
    object-position: center;
    width: 100% !important;
    transition: none;
}

.image-component.style-2 > .frame {
    width: 100vw;
    transition: none;
}

.image-component.style-2 > .frame > img {
    height: 100% !important;
    object-fit: cover;
    object-position: center;
    width: 100% !important;
    transition: none;
}
@media (max-width: 1435px) {
    .image-component.style-3 > .frame {
        width: 90vw; /* â† modifie ici : 95vw, 90vw, 85vw */
        margin: 0 auto; /* centre le frame */
    }
}

@media (max-width: 736px) {
    
    .image-component.style-3 > .frame {
        aspect-ratio: 16 / 9;
        width: 100%;
        overflow: hidden;
    }


    .image-component.style-3 > .frame > img {
        height: 100% !important;
        object-fit: cover;
        object-position: top;
        width: 100% !important;
    }

    .image-component.style-1:not(:first-child) {
        margin-top: 1.78125rem !important;
    }

    .image-component.style-1:not(:last-child) {
        margin-bottom: 1.78125rem !important;
    }

    .image-component.style-1 > .frame {
        width: 25rem;
        height: 6.5625rem !important;
    }

    .image-component.style-1 > .frame > img {
        height: 100% !important;
        object-fit: cover;
        object-position: center;
        width: 100% !important;
    }

    .image-component.style-2 > .frame {
        aspect-ratio: 16 / 9; /* ou autre ratio */
        height: auto !important;
        width: 100%;
        overflow: hidden;
    }

    .image-component.style-2 > .frame > img {
        height: 100% !important;
        object-fit: cover;
        object-position: center;
        width: 100% !important;
    }

}

@media (max-width: 480px) {

    

    .image-component.style-1 > .frame {
        width: 20rem;
        height: 5.25rem !important;
    }

    .image-component.style-2 > .frame {
        height: 14.25rem !important;
    }

}

@media (max-width: 360px) {

    
    .image-component.style-1 > .frame {
        width: 20rem;
        height: 5.2rem !important;
    }

    .image-component.style-2 > .frame {
        height: 12.46875rem !important;
    }

}
